<div id="gitment_thread">
  <div id="light-mode">
    <script src="https://utteranc.es/client.js"
            repo="Newon-universe/newon-universe.github.io"
            issue-term="pathname"
            theme="github-light"
            crossorigin="anonymous"
            async>
    </script>
  </div>
  <div id="dark-mode">
    <script src="https://utteranc.es/client.js"
            repo="Newon-universe/newon-universe.github.io"
            issue-term="pathname"
            theme="github-dark"
            crossorigin="anonymous"
            async>
    </script>
  </div>
</div>

