  <div id="gitment_thread">
  </div>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/theme-next/theme-next-gitment@1/default.css"/>
  <script src="https://cdn.jsdelivr.net/gh/theme-next/theme-next-gitment@1/gitment.browser.js"></script>
  <script>
    var gitment = new Gitment({
      id: '{{ page.id }}',
      owner: 'Newon-universe',
      repo: 'Newon-universe/newon-universe.github.io',
      oauth: {
        client_id: 'b079e0cf6d9b5f09a581',
        client_secret: '920bb0f76d709953b5eb0c03d5b4771fc537988d',
      },
    });
    gitment.render('gitment_thread')
  </script>